---
layout: default
title: Home
---
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@NickCalabs" />
<meta name="twitter:title" content="Nick Calabro's Blog" />
<meta name="twitter:description" content="Read the latest post about iOS development, web development, and productivity &amp; efficiency."/>
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/586347195512700928/aIYVGScO.jpg" />

<p>Hello, thank you for visiting. I <a href="github.com/nickcalabs">develop</a> things for the web &amp; iOS and try to blog about it all here. Feel free to read <a href="/about">about me</a>, <a href="http://twitter.com/nickcalabs">Tweet me</a>, or <a href="mailto:calabro.nick@gmail.com">contact me</a>. <hr class="index"/>


<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    <p>{{ post.excerpt }}</p>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}